<div class="container" id="gbg">
<form class="form" method="post">
  <div class="row justify-content-around">
<div class="col-5">

    <div class="row my-5">
      <input type="text" class="form-control" placeholder="Product Name" name="name" [(ngModel)]="name">
    </div>
     
    <div class="row my-5">
      <input type="number" class="form-control" placeholder="Price" name="price" [(ngModel)]="price">
    </div>

    <div class="row my-5">
        <input type="number" class="form-control" placeholder="Quantity" name="Quantity" [(ngModel)]="Quantity">
    </div>

    
    


</div>

<div class="col-5">
    <div class="row my-2">
        <img type="image" src="assets/imgs/{{image}}" alt="" id="img">  
       <input type="file" (change)="onFileSelected($event)" title="image" class="form-control my-3" accept=".jpg">
          
   </div>
</div>
  </div> 

  <div class="row text-center">
   <button type="submit" class="btn btn-outline-primary" (click)="id == 0 ? createproduct() : editProduct()" > {{ id == 0 ? "Add New Product" : "Edit Product" }}</button>
  </div>
 
  </form>
</div>
